<div style="display: flex; justify-content: center; align-items: center; min-height: 60vh; width: 100%;">
  <div class="container1">
    <div class="header">
    <h1 class="text-4xl font-bold mb-4">Welcome to GPort</h1>
    <p class="text-lg text-gray-700 mb-6">Your gateway to seamless project management and collaboration.</p>
    </div>
     <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
     <div class="inputs" style="display:flex; flex-direction:column; gap:1rem;">
      <p><%= f.label :email, class: "block text-sm font-medium text-gray-700" %></p>
      <%= f.email_field :email, style: "border: 1px solid #0b0a0a; padding: 1rem; border-radius: 0.25rem;", id: "email" %>
      <p><%= f.label :password, class: "block text-sm font-medium text-gray-700" %></p>
      <%= f.password_field :password, style: "border: 1px solid #0b0a0a; padding: 1rem; border-radius: 0.25rem;", id: "password" %>
      <div style="display: flex; align-items: center; gap: 0.5rem;">
      <%= f.check_box :remember_me, style: "transform: scale(1.5); margin-right: 0.2rem;", id: "remember_me" %>
      <%= f.label :remember_me, style: "text-sm text-gray-700"%>
      </div>
      <%= f.submit "Login", style: "background-color: #4A90E2; color: white; padding: 1rem 1rem; border: none; border-radius: 0.25rem; cursor: pointer; margin: 0 auto; width: 50%;" %>
      <a href="/users/sign_up" style="text-decoration: underline; color: #000000; text-align: center; ">Don't have an account? Sign up</a>
      <%= link_to "Forgot your password" , new_user_password_path, style: "text-decoration: underline; color: #000000; text-align: center;" %>
     </div>
     <% end %>
  </div>
</div>


<script>
  var emailField = document.getElementById("email");
  var passwordField = document.getElementById("password");
  var rememberMefield = document.getElementById("remember_me");

 document.getElementById("remember_me").addEventListener("change", function(){
  if(this.checked){
    localStorage.setItem("email", emailField.value);
    localStorage.setItem("password", passwordField.value);
  } else {
    localStorage.removeItem("email");
    localStorage.removeItem("password");

  }
})

  window.onload = function(){
    if(localStorage.getItem("email") && localStorage.getItem("password")){
       emailField.value = localStorage.getItem("email");
       passwordField.value = localStorage.getItem("password");
    }
  }
 </script>
